name: Docker Image
on:
  create:
  push:
    branches:
        - testnet/3
jobs:
  docker:
    name: Docker publishing
    runs-on: self-hosted
    steps:
      - name: Publish
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: textile/lotus-devnet
          tag_with_ref: true
          tag_with_sha: true
