name: Docker Image
on:
  create:
  push:
    branches:
      - v1.6.0
jobs:
  docker:
    name: Docker publishing
    runs-on: self-hosted
    steps:
      - name: Check out code
        uses: actions/checkout@v1
      - name: Clean filecoin-ffi
        run: make clean build
      - name: Publish
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: textile/lotus-devnet
          tag_with_ref: true
          tag_with_sha: true
